@import "media.css";
:root {
    --main-blue-color: #08A6E4;
    --main-red-color: #FB3B64;
    --main-green-color: #55DFB4;
    --main-black-color: #000;
    --main-dark-grey-color: #707070;
    --main-medium-grey-color: #95989A;
    --main-light-grey-color: #A5A5A5;
    --main-background-color: #F7F7F7;
    --main-white-color: #fff;
    --font-sans: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}
.body {
    background-color: var(--main-background-color);
    font-family: var(--font-sans);
    font-size: 16px;
}
.content {
    max-width: 1352px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 0 15px;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
}
.header {
    background-color: var(--main-white-color);
}
button {
    border: none;
}
/****   ********** NAVBAR ************/
.navbar {
    height: 70px;
    background-color: var(--main-white-color);
    color: var(--main-white-color);
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    color: var(--main-light-grey-color);
    text-transform: uppercase;
    font-size: .7em;
    box-sizing: border-box;
}
.navbar__logo-text {
    margin: 16px 0 0 136px;
    font: 2em/37px var(--font-raleway);
    color: var(--main-blue-color);
    box-sizing: border-box;
    height: 15px;
}
.navbar__menu-item {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 4px solid transparent;
    cursor: pointer;
}
.navbar__menu-item:hover {
    border-bottom: 4px solid var(--main-blue-color);
}
.navbar__menu-item:last-of-type {
    margin-right: 137px;
}
.navbar__menu-item:not(last-of-type) {
    margin-right: 95px;
}
/**************** SELL MORE SECTION ***********/
.sellmore-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
}
.sellmore-section__image img {
    width: 100%;
}
.sellmore-section__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sellmore-section__text h2 {
    font-family: var(--font-raleway);
    font-size: 3em;
}
.sellmore-section__text p {
    margin-top: 20px;
}
.sellmore-section__button {
    background-color: var(--main-blue-color);
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
    padding: 17px 141px;
    color: var(--main-white-color);
    margin-top: 38px;
    font-weight: 600;
}
/*********** MOST POPULAR **************/
.most-popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-white-color);
    width: 100%;
}
.most-popular h2 {
    font-family: var(--font-raleway);
    font-size: 2.25em;
}
.most-popular__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 80px;
}
.most-popular__items-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    position: relative;
}
.circle {
    border-radius: 50%;
}
.most-popular__items-circle {
    width: 63px;
    height: 63px;
}
.circle1 {
    background-color: var(--main-red-color);
}
.circle2 {
    background-color: var(--main-blue-color);
}
.circle3 {
    background-color: var(--main-green-color);
}
.most-popular__image {
    position: absolute;
    left: 173px;
}
.most-popular__image-person {
    height: 52px;
    top: 4px;
}
.most-popular__image-eye {
    height: 36.5px;
    top: 14px;
}
.most-popular__image-catalogue {
    height: 48px;
    top: 7px;
}
.most-popular__items p {
    font-family: var(--font-raleway);
}
.most-popular__items p:first-of-type {
    font-weight: 900;
    letter-spacing: 5.96px;
}
.most-popular__items p:nth-of-type(2) {
    color: var(--main-light-grey-color);
    font-size: 1.06em;
}
/********* Middle boxes **********/
.middle-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-background-color);
}
.middle-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}
.middle-boxes h2 {
    font-family: var(--font-raleway);
    font-size: 2em;
}
.middle-box {
    height: 23em;
}
.middle-box:not(:last-of-type) {
    background-color: var(--main-white-color);
    margin-bottom: 105px;
}
.middle-box:first-of-type {
    margin-top: 105px;
}
.middle-box-left, .middle-box-right {
    width: 50%;
    padding: 35px;
    box-sizing: border-box;
}
.middle-boxes__box3 {

}
.middle-box-left, .middle-box-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.middle-box-line {
    content: '';
    display: block;
    width: 75%;
    height: 4px;
}
.middle-boxes__box1-left-line {
    background-color: var(--main-red-color);
}
.middle-boxes__box2-left-line {
    background-color: var(--main-blue-color);
}
.middle-boxes__box3-right-line {
    background-color: var(--main-green-color);
}
.middle-box-right {
    position: relative;
    padding: 34px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}
.iphone {
    transform: translate(5%, 13%)
}
.middle-box-right .macbook {
    transform: rotate(-45deg);
    width: 247px;
    position: absolute;
    top: 44%;
    right: -15%;
}
.middle-box-right img{
    z-index: 1;
    width: 386px;
}
.middle-box-right__figure1{
    content: '';
    background-color: var(--main-red-color);
    width: 170px;
    height: 170px;
    border-radius: 41px;
    position: relative;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    bottom: 21%;
    left: 51%;
}
.middle-box.middle-boxes__box2, .middle-box.middle-boxes__box3  {
    flex-direction: row-reverse;
}
.middle-box.middle-boxes__box3 {
    margin-bottom: 50px;
    justify-content: space-between;
}
.middle-box-right__figure2{
    content: '';
    background-color: var(--main-blue-color);
    width: 320px;
    height: 320px;
    border-radius: 50%;
    position: absolute;
}
.middle-boxes__box3-right {
    background-color: var(--main-green-color);
    width: 40%;
}
.middle-boxes__box3-left {
    background-color: var(--main-white-color);
    width: 53%;
}
.middle-boxes__box3-right img {
    width: 85%;
}
.pricing-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-white-color);
    width: 100%;
}
.pricing {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.pricing-section h2 {
    font-family: var(--font-raleway);
    font-size: 2.25em;
    margin: 70px 0;
}
.pricing__box {
    border: 1px solid black;
    width: 27%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 18px;
    position: relative;
}
.pricing__box:not(:nth-of-type(2)) {
    margin: 40px 0;
    padding-bottom: 55px;
}
.pricing__box_basic {
    border-color: var(--main-red-color);
}
.pricing__box_professional {
    border-color: var(--main-blue-color);
    box-shadow: 5px 10px 27px #07ACE629;
}
.pricing__box_premium {
    border-color: var(--main-green-color);
}
.pricing-section h3 {
    font-family: var(--font-raleway);
    font-size: 1.25em;
    font-weight: 600;
    color: #13253B;
    margin-bottom: 30px;
}
.pricing-section p:nth-of-type(1) {
    font-size: 2.85em;
    margin-bottom: 20px;
}
.pricing__box_basic p:nth-of-type(1) {
    color: var(--main-red-color);
}
.pricing__box_professional p:nth-of-type(1) {
    color: var(--main-blue-color);
}
.pricing__box_premium p:nth-of-type(1) {
    color: var(--main-green-color);
}
.pricing__box p:nth-of-type(2) {
    font-family: var(--font-raleway);
    font-size: .75em;
    font-weight: 600;
}
.pricing__box ul li:not(:last-of-type){
    margin-bottom: 15px;
}
.pricing__basic-features {
    margin-top: 70px;
}
.pricing__professional-features {
    margin-top: 80px;
}
.pricing__premium-features {
    margin-top: 40px;
}
.pricing-feaure input[type="checkbox"]{
    -webkit-appearance: initial;
    appearance: initial;
    width: 13px;
    height: 13px;
    border: 1px solid var(--main-green-color);
    position: relative;
    margin-right: 5px;
}
.pricing-feaure_notincluded input[type="checkbox"] {
    border: 1px solid var(--main-red-color);
}
.pricing-feaure.pricing-feaure_notincluded input[type="checkbox"]:checked:after {
    content: "\0078";
    color: var(--main-red-color);
}
.pricing-feaure input[type="checkbox"]:checked {
    background: white;
}
.pricing-feaure input[type="checkbox"]:checked:after {
    content: "\2713";
    color: var(--main-green-color);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.pricing__box-button {
    width: 150px;
    height: 50px;
    border-radius: 23px;
    color: white;
    position: absolute;
    bottom: -25px;
    left: 115px;
}
.pricing__box-button_basic {
    background-color: var(--main-red-color);
}
.pricing__box-button_professional {
    background-color: var(--main-blue-color);
}
.pricing__box-button_premium {
    background-color: var(--main-green-color);
}
/********* Any questions **********/
.any-questions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-white-color);
}
.any-questions__form-box-contact-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.any-questions__form-box-contact-data h2 {
    font-family: var(--font-raleway);
    font-size: 49px;
}
.any-questions__form-box-contact-data p {
    font-size: 16px;
}
.any-questions__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.any-questions__form-box {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 100px 0;
}
.any-questions__form-box-contact-data h2, .any-questions__form-box-contact-data p {
    margin-top: 40px;
}
.any-questions input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid var(--main-blue-color);
}
.any-questions input[type=submit] {
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.any-questions label {
    font-weight: 600;
    cursor: pointer;
    font-size: .68em;
    text-transform: uppercase;
    letter-spacing: 3.28px;
    color: var(--main-blue-color);
}
.any-questions__form-personal-data {
    font-size: .75em;
    color: var(--main-dark-grey-color);
    display: flex;
}
.any-questions__form-box-addresses {
    display: flex;
    flex-direction: row;
}
.any-questions input[type="checkbox"], .package-selector__checkboxes input[type="checkbox"]{
    -webkit-appearance: initial;
    appearance: initial;
    width: 24px;
    height: 24px;
    border: 1px solid var(--main-medium-grey-color);
    position: relative;
    margin-right: 16px;
    min-width: 24px;
    background: white;
}
.package-selector__checkboxes input[type="checkbox"] {
    border-radius: 5px;
}
.any-questions input[type="checkbox"], .package-selector__checkboxes input[type="checkbox"] {
    border: 1px solid var(--main-medium-grey-color);
}
.any-questions input[type="checkbox"]:checked, .package-selector__checkboxes input[type="checkbox"]:checked {
    background: white;
}
.any-questions input[type="checkbox"]:checked:after, .package-selector__checkboxes input[type="checkbox"]:checked:after {
    content: "\2713";
    color: var(--main-blue-color);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 2em;
}
img.email-address {
    margin-right: 5px;
}
img.phone-number {
    margin: 0 5px 0 30px;
}
.any-questions__form-send-button {
    align-self: flex-end;
    margin-top: 20px;
    width: 226px;
    height: 57px;
    background-color: var(--main-blue-color);
    border-radius: 23px;
    color: white;
    box-shadow: 5px 10px 14px #07ACE629;
    font-size: 13px;
    font-weight: 600;
}
/*Pricing calculator */

.pricing-calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px;
    height: 500px;
}
.pricing-calculator h2 {
    font-family: var(--font-raleway);
    font-size: 2em;
    padding-bottom: 2em;
}
.pricing-calculator__prices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}
.pricing-calculator__calculator-row {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.pricing-calculator__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:20px;
    box-sizing: border-box;
    width: 35%;
    height: 85%;
}
.package-selector {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.pricing-calculator__input-boxes {
    flex-direction: column;
}
select {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}
input[type=number], select {
    width: 100%;
    height: 40px;
    border: 1px solid var(--main-blue-color);
    border-radius: 6px;
    box-shadow: 0px 3px 6px #08A6E429;
    margin-bottom: 20px ;
    box-sizing: border-box;
    padding: 0;
    background: #fff;
    position: relative;
}

input[type=number]::placeholder, select {
    font-size: 0.81rem;
    padding-left: 20px;
    color: var(--main-light-grey-color);
}
.package-selector {
     padding-left: 0;
    position: relative;

 }
.package-selector::after {
    content:"";
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background-image: url("../img/arrowdown.svg");
background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
}
.package-selector__checkboxes {
    /*display: flex;*/
    /*flex-direction: column;*/
}
/*label {display: none}*/

.chbox input[type="checkbox"] {
    margin-right:5px;
}
.displaynone {
    display: none;
}
.chbox {
    flex-direction: row-reverse;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
}
.chbox label {
    font-size: 12px;
    color: var(--main-dark-grey-color);
}
.pricing-calculator__prices-price {
    display: flex;
    width: 100%;
    height: 31px;
    background-color: var(--main-green-color);
    margin-bottom: 8px;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    color: var(--main-white-color);
    align-items: center;
    padding: 15px;
    justify-content: space-between;
}
.pricing-calculator__prices-price p{
    width: 23%;
}
.total {
    width: 50%;
    height: 38px;
    background: var(--main-blue-color);
    align-self: flex-end;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    align-items: center;
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
    color: white;
    justify-content: space-between;
}
.total__total-price {
    font-weight: bold;
}


/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    height: 89px;
    box-shadow: 0px -5px 40px #f1f1f1;
    background: var(--main-background-color) 0 0 no-repeat padding-box;
    padding-right: 48px;
}
.footer__logo p small{
    display: flex;
    flex-direction: column;
    font: 0.687em/15px var(--font-raleway);
    color: var(--main-light-grey-color);
    box-sizing: border-box;
    height: 15px;
}
.footer__logo {
    margin: 2px 0 0 136px;
}
.footer__logo-text {
    display: flex;
    flex-direction: column;
    font: 1.62em/37px var(--font-raleway);
    color: var(--main-blue-color);
    box-sizing: border-box;
    height: 15px;
}
.social {
    display: flex;
    align-items: center;
}
.social a:nth-of-type(1) {
    margin-right: 20px;
}
.error-message {
    margin-top: 20px;
    color: var(--main-red-color);
    font-weight: 600;
    padding: 12px;
}
.hidden {
    display: none;
}





.burger {
    display: none;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    right: 15%;
    transform: translate(0px, 17px);
}
.burger:hover {
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media (max-width: 940px) {
    .navbar__logo-text {
        margin: 16px 0 0 50px;
    }
    .navbar__menu-item:not(last-of-type) {
        margin-right: 69px;
    }
}



@media (max-width: 768px) {
    .burger {
        display: inline-block;
        right: 5%;
    }
    .content {
        width: 100%;
    }
    .navbar {
        position: relative;
        flex-direction: column;
    }
    .navbar::before {
        content:"";
        background: #fff;
        box-shadow: 0px 3px 6px #00000029;
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .navbar__logo {
        z-index: 2;
        display: flex;
        justify-content: center;
    }
    .navbar__logo .navbar__logo-text {
        margin-left: 0;
        margin-right: 0;
    }
    .navbar__menu {
        position: absolute;
        left:0;
        top:-190px;
        padding-top:10px;
        padding-bottom:10px;
        z-index: 0;
        display: flex;
        align-items: start;
        list-style: none;
        color: var(--main-light-grey-color);
        text-transform: uppercase;
        font-size: 1em;
        box-sizing: border-box;
        flex-direction: column;
        background: white;
        box-shadow: 0 3px 1px #00000029;
        width: 100%;
        transition: 1s;

    }
    .navbar__menu_disappear {
        top: 70px;
        transition: 1s;
    }

    .navbar .navbar__menu-item {
        margin: 0;
        padding: 15px;
        background: white;
    }
    .navbar .navbar__menu-item:last-of-type {
        margin: 0;
    }

    .most-popular__items {
        flex-direction: column;
    }
    .most-popular h2 {
        text-align: center;
        margin-top: 30px;
    }
    .most-popular__items-item2, .most-popular__items-item3 {
        margin-top: 60px;
    }
    .middle-box {
        width: 100%;
    }
    .middle-box-right {
        justify-content: center;
    }
    .middle-box-right__figure1 {
        width: 150px;
        height: 150px;

        bottom: 4%;
        left: 35%;
    }
    .macbook-box {
        width: 40%;
    }
    .middle-box-right .macbook {
        width: 200px;
    }
    .middle-box-right__figure2 {
        width: 35vw;
        height: 35vw;
    }
    .iphone {
        transform: translate(11%, 23%);
    }
    .middle-box-right img {
        width: 100%;
    }
    .pricing {
        flex-direction: column;
        align-items: center;
    }
    .pricing__box {
        display: flex;
        width: 80%;
        height: 303px;
        justify-content: space-evenly;
        align-items: baseline;
    }
    .pricing__box_premium {
        height: 266spx;
    }
    .pricing__box-button {
        left: unset;
    }
    .any-questions__form-box {
        flex-direction: column;
    }
    .any-questions__form-box-contact-data {
        align-items: center;
    }
    .any-questions__form-personal-data {
        margin-top: 10px;
        font-size: .85em;
    }
    .any-questions__form-box-contact-data h2, .any-questions__form-box-contact-data p {
        text-align: center;
    }
    .any-questions__form-box-addresses {
        flex-direction: column;
        align-items: baseline;
    }
    .any-questions__form {
        width: 100%;
        margin-top: 70px;
    }
    .any-questions__form-send-button {
        align-self: center;
    }
    .pricing-calculator {
        padding: 35px 0 20px 0;
    }
    .pricing-calculator h2 {
        text-align: center;
    }
    .pricing-calculator__box {
        width: 100%;
        padding: 0;
    }
    .pricing-calculator__calculator-row {
        flex-direction: column;
    }
    .footer__logo {
        margin: 0;
    }
}




@media (max-width: 550px) {

    .middle-box-right {
    display: none;
    }

    .middle-box-left {
        width: unset;
        padding: 0 25px;
    }

    .middle-box:first-of-type {
        margin-top: 38px;
    }

    .middle-box:not(:last-of-type) {
        margin-bottom: 38px;
    }
    .phonenumberparagraph, .emailaddressparagraph {
        text-align: left;
    }
    img.phone-number {
margin-left: 0;
    }

}