:root {
    --main-blue-color: #08A6E4;
    --main-red-color: #FB3B64;
    --main-green-color: #55DFB4;
    --main-black-color: #000;
    --main-dark-grey-color: #707070;
    --main-medium-grey-color: #95989A;
    --main-light-grey-color: #A5A5A5;
    --main-background-color: #F7F7F7;
    --main-white-color: #fff;
    --font-sans: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}
.body {
    background-color: var(--main-background-color);
    font-family: var(--font-sans);
    font-size: 16px;
}
.content {
    width: 1352px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
}
.header {
    background-color: var(--main-white-color);
}
/****   ********** NAVBAR ************/
.navbar {
    height: 70px;
    background-color: var(--main-white-color);
    color: var(--main-white-color);
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    color: var(--main-light-grey-color);
    text-transform: uppercase;
    font-size: .7em;
    box-sizing: border-box;
}
.navbar__logo-text {
    margin: 16px 0 0 136px;
    font: 2em/37px var(--font-raleway);
    color: var(--main-blue-color);
    box-sizing: border-box;
    height: 15px;
}
.navbar__menu-item {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 4px solid transparent;
}
.navbar__menu-item:hover {
    border-bottom: 4px solid var(--main-blue-color);
}
.navbar__menu-item:last-of-type {
    margin-right: 137px;
}
.navbar__menu-item:not(last-of-type) {
    margin-right: 95px;
}
/**************** SELL MORE SECTION ***********/
.sellmore-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
}
.sellmore-section__image img {
    width: 100%;
}
.sellmore-section__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sellmore-section__text h2 {
    font-family: var(--font-raleway);
    font-size: 3em;
}
.sellmore-section__text p {
    margin-top: 20px;
}
.sellmore-section__button {
    background-color: var(--main-blue-color);
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
    padding: 17px 141px;
    color: var(--main-white-color);
    margin-top: 38px;
    font-weight: 600;
}
/*********** MOST POPULAR **************/
.most-popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-white-color);
    width: 100%;
}
.most-popular h2 {
    font-family: var(--font-raleway);
    font-size: 2.25em;
}
.most-popular__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 80px;
}
.most-popular__items-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    position: relative;
}
.circle {
    border-radius: 50%;
}
.most-popular__items-circle {
    width: 63px;
    height: 63px;
}
.circle1 {
    background-color: var(--main-red-color);
}
.circle2 {
    background-color: var(--main-blue-color);
}
.circle3 {
    background-color: var(--main-green-color);
}
.most-popular__image {
    position: absolute;
    left: 173px;
}
.most-popular__image-person {
    height: 52px;
    top: 4px;
}
.most-popular__image-eye {
    height: 36.5px;
    top: 14px;
}
.most-popular__image-catalogue {
    height: 48px;
    top: 7px;
}
.most-popular__items p {
    font-family: var(--font-raleway);
}
.most-popular__items p:first-of-type {
    font-weight: 900;
    letter-spacing: 5.96px;
}
.most-popular__items p:nth-of-type(2) {
    color: var(--main-light-grey-color);
    font-size: 1.06em;
}
/********* Middle boxes **********/
.middle-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-background-color);
}
.middle-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}
.middle-boxes h2 {
    font-family: var(--font-raleway);
    font-size: 2em;
}
.middle-box {
    height: 23em;
}
.middle-box:not(:last-of-type) {
    background-color: var(--main-white-color);
    margin-bottom: 105px;
}
.middle-box:first-of-type {
    margin-top: 105px;
}
.middle-box-left, .middle-box-right {
    width: 50%;
    padding: 35px;
    box-sizing: border-box;
}
.middle-boxes__box3 {

}
.middle-box-left, .middle-box-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.middle-box-line {
    content: '';
    display: block;
    width: 75%;
    height: 4px;
}
.middle-boxes__box1-left-line {
    background-color: var(--main-red-color);
}
.middle-boxes__box2-left-line {
    background-color: var(--main-blue-color);
}
.middle-boxes__box3-right-line {
    background-color: var(--main-green-color);
}
.middle-box-right {
    position: relative;
    padding: 34px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}
.middle-box-right img{
    z-index: 1;
    width: 386px;
}
.middle-box-right__figure1{
    content: '';
    background-color: var(--main-red-color);
    width: 170px;
    height: 170px;
    border-radius: 41px;
    position: absolute;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    top: 80px;
    right: 73px;
}
.middle-box.middle-boxes__box2, .middle-box.middle-boxes__box3  {
    flex-direction: row-reverse;
}
.middle-box.middle-boxes__box3 {
    margin-bottom: 50px;
    justify-content: space-between;
}
.middle-box-right__figure2{
    content: '';
    background-color: var(--main-blue-color);
    width: 320px;
    height: 320px;
    border-radius: 50%;
    position: absolute;
}
.middle-boxes__box3-right {
    background-color: var(--main-green-color);
    width: 40%;
}
.middle-boxes__box3-left {
    background-color: var(--main-white-color);
    width: 53%;
}
.middle-boxes__box3-right img {
    width: 85%;
}
.pricing-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-white-color);
    width: 100%;
}
.pricing {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.pricing-section h2 {
    font-family: var(--font-raleway);
    font-size: 2.25em;
    margin: 70px 0;
}
.pricing__box {
    border: 1px solid black;
    width: 27%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 18px;
    position: relative;
}
.pricing__box:not(:nth-of-type(2)) {
    margin: 40px 0;
    padding-bottom: 55px;
}
.pricing__box_basic {
    border-color: var(--main-red-color);
}
.pricing__box_professional {
    border-color: var(--main-blue-color);
    box-shadow: 5px 10px 27px #07ACE629;
}
.pricing__box_premium {
    border-color: var(--main-green-color);
}
.pricing-section h3 {
    font-family: var(--font-raleway);
    font-size: 1.25em;
    font-weight: 600;
    color: #13253B;
    margin-bottom: 30px;
}
.pricing-section p:nth-of-type(1) {
    font-size: 2.85em;
    margin-bottom: 20px;
}
.pricing__box_basic p:nth-of-type(1) {
    color: var(--main-red-color);
}
.pricing__box_professional p:nth-of-type(1) {
    color: var(--main-blue-color);
}
.pricing__box_premium p:nth-of-type(1) {
    color: var(--main-green-color);
}
.pricing__box p:nth-of-type(2) {
    font-family: var(--font-raleway);
    font-size: .75em;
    font-weight: 600;
}
.pricing__box ul li:not(:last-of-type){
    margin-bottom: 15px;
}
.pricing__basic-features {
    margin-top: 70px;
}
.pricing__professional-features {
    margin-top: 80px;
}
.pricing__premium-features {
    margin-top: 40px;
}
.pricing-feaure input[type="checkbox"]{
    -webkit-appearance: initial;
    appearance: initial;
    width: 13px;
    height: 13px;
    border: 1px solid var(--main-green-color);
    position: relative;
    margin-right: 5px;
}
.pricing-feaure_notincluded input[type="checkbox"] {
    border: 1px solid var(--main-red-color);
}
.pricing-feaure.pricing-feaure_notincluded input[type="checkbox"]:checked:after {
    content: "\0078";
    color: var(--main-red-color);
}
.pricing-feaure input[type="checkbox"]:checked {
    background: white;
}
.pricing-feaure input[type="checkbox"]:checked:after {
    content: "\2713";
    color: var(--main-green-color);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.pricing__box-button {
    width: 150px;
    height: 50px;
    border-radius: 23px;
    color: white;
    position: absolute;
    bottom: -25px;
    left: 115px;
}
.pricing__box-button_basic {
    background-color: var(--main-red-color);
}
.pricing__box-button_professional {
    background-color: var(--main-blue-color);
}
.pricing__box-button_premium {
    background-color: var(--main-green-color);
}
/********* Any questions **********/
.any-questions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-white-color);
}
.any-questions__form-box-contact-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.any-questions__form-box-contact-data h2 {
    font-family: var(--font-raleway);
    font-size: 49px;
}
.any-questions__form-box-contact-data p {
    font-size: 16px;
}
.any-questions__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.any-questions__form-box {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 100px 0;
}
.any-questions__form-box-contact-data h2, .any-questions__form-box-contact-data p {
    margin-top: 40px;
}
.any-questions input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid var(--main-blue-color);
}
.any-questions input[type=submit] {
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.any-questions label {
    font-weight: 600;
    cursor: pointer;
    font-size: .68em;
    text-transform: uppercase;
    letter-spacing: 3.28px;
    color: var(--main-blue-color);
}
.any-questions__form-personal-data {
    font-size: .75em;
    color: var(--main-dark-grey-color);
    display: flex;
}
.any-questions__form-box-addresses {
    display: flex;
    flex-direction: row;
}
.any-questions input[type="checkbox"]{
    -webkit-appearance: initial;
    appearance: initial;
    width: 24px;
    height: 24px;
    border: 1px solid var(--main-medium-grey-color);
    position: relative;
    margin-right: 5px;
    min-width: 24px;
}
.any-questions input[type="checkbox"] {
    border: 1px solid var(--main-medium-grey-color);
}
.any-questions input[type="checkbox"]:checked {
    background: white;
}
.any-questions input[type="checkbox"]:checked:after {
    content: "\2713";
    color: var(--main-green-color);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 2em;
}
img.email-address {
    margin-right: 5px;
}
img.phone-number {
    margin: 0 5px 0 30px;
}






